.LandingPage {
	display: flex;
	flex-direction: column;
	padding: 265px 20px 20px 20px;

	@media (max-width: 800px) {
		padding-top: 100px;
	}

	.IntroSection {
		display: flex;
		align-items: center;

		@media (max-width: 1200px) {
			flex-direction: column;
		}
	}

	.profile {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		align-items: center;
		right: 100%;
		font-weight: 500;
		letter-spacing: 4px;
		margin-right: 80px;
		transition: margin-right 300ms;
		font-size: 18px;

		@media (max-width: 1500px) {
			margin-right: 60px;
		}

		@media (max-width: 1200px) {
			margin-right: 0;
		}

		.socials {
			margin-top: 10px;
			display: flex;
			gap: 10px;

			& > a {
				font-size: 30px;

				transition: color 200ms;

				&:hover {
					color: #7281d3;
				}
			}
		}

		.profile-picture {
			margin-bottom: 20px;

			height: 300px;
			width: 300px;
			transition: height 300ms, width 300ms;

			border-radius: 100%;
			padding: 20px;
			background-color: #7281d3;

			@media (max-width: 1500px) {
				height: 200px;
				width: 200px;
			}

			@media (max-width: 600px) {
				height: 150px;
				width: 150px;
			}

			& > img {
				height: 100%;
				width: 100%;
				border-radius: 40px;

				@media (max-width: 1500px) {
					border-radius: 30px;
				}
			}
		}
	}

	section {
		margin-bottom: 50px;
		position: relative;
	}

	h1 {
		margin: 0;
		font-size: 80px;

		@media (max-width: 2000px) {
			font-size: 4vw;
		}

		@media (max-width: 1500px) {
			font-size: 60px;
		}
		@media (max-width: 800px) {
			font-size: 32px;
		}
		@media (max-width: 500px) {
			font-size: 24px;
		}
	}

	.separator {
		background: -webkit-linear-gradient(#ff921f, #f44e1c);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 800;
		transform: scale(1.2);
		display: inline-block;
	}

	h2 {
		@media (max-width: 800px) {
			font-size: 20px;
		}
	}

	.subtitle {
		color: rgba(white, 0.6);
		margin: 0;
		font-size: 20px;
		margin-bottom: 40px;

		@media (max-width: 800px) {
			font-size: 15px;
			margin-bottom: 20px;
		}
	}

	u {
		white-space: nowrap;
	}

	p {
		max-width: 700px;

		@media (max-width: 800px) {
			font-size: 15px;
		}
	}

	& > .container {
		max-width: 100%;
		margin: 0 auto;
		.Button {
			font-size: 20px;
			padding: 15px 30px;
			margin-top: 20px;

			@media (max-width: 800px) {
				font-size: 15px;
				padding: 10px 20px;
			}
		}
	}
}
