.Container {
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	max-width: 100%;

	&.size-small {
		width: 600px;
	}

	&.size-medium {
		width: 800px;
	}

	&.size-large {
		width: 1300px;
	}
}
