.PresentationSection {
	padding: 265px 20px 20px 20px;
	// background: #7281d3;
	display: flex;
	background-image: linear-gradient(
		to bottom,
		#7281d3 320px,
		transparent 320px
	);

	@media (max-width: 800px) {
		padding-top: 100px;

		background-image: linear-gradient(
			to bottom,
			#7281d3 200px,
			transparent 200px
		);
	}

	@media (max-width: 600px) {
		background-image: linear-gradient(
			to bottom,
			#7281d3 170px,
			transparent 170px
		);
	}

	& > .container {
		max-width: 100%;
		margin: 0 auto;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fadeInDown {
		from {
			opacity: 0;
			transform: translateY(-10px);
		}
		to {
			opacity: 1;
			transform: none;
		}
	}

	@keyframes fadeInLeft {
		from {
			opacity: 0;
			transform: translateX(20px);
		}
		to {
			opacity: 1;
			transform: none;
		}
	}

	h1 {
		animation: fadeInDown 400ms;
	}

	.subtitle {
		animation: fadeInDown 400ms 100ms;
		animation-fill-mode: backwards;
	}

	p {
		animation: fadeInDown 400ms 200ms;
		animation-fill-mode: backwards;
	}

	.Button {
		animation: fadeInDown 400ms 300ms;
		animation-fill-mode: backwards;
	}

	.profile {
		animation: fadeInLeft 400ms 400ms;
		animation-fill-mode: backwards;

		@media (max-width: 1200px) {
			animation: fadeInDown 400ms 0;
		}
	}

	.Button {
		font-size: 20px;
		padding: 15px 30px;
		margin-top: 20px;

		@media (max-width: 800px) {
			font-size: 15px;
			padding: 10px 20px;
		}
	}
}
