.Portfolio {
	padding: 125px 0;

	h1 {
		margin: 0 0 20px 0;
	}

	.items {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);

		@media (max-width: 1000px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 700px) {
			grid-template-columns: repeat(1, 1fr);
		}

		& > .PortfolioItem {
			background-color: rgba(white, 1);
			height: 300px;
			padding: 16px 20px;
			box-sizing: border-box;
			border-radius: 6px;
			color: #222942;
			font-size: 15px;
			font-weight: 500;
			display: flex;
			align-items: flex-start;

			& > .text {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				& > .title {
					text-transform: uppercase;
				}

				a.visit {
					text-decoration: none;
					display: inline-block;
					padding: 6px 12px;
					border-radius: 4px;
					color: inherit;
					transition: background-color 200ms;
					margin-right: -6px;

					&:hover {
						background: rgba(#222942, 0.1);
					}
				}
			}
		}
	}
}
