@import '~style/variables.scss';

.TechnologySection {
	padding: 40px 0;
	margin-left: 630px;

	.TechnologyItem {
		border: 1px solid rgba(white, 0.1);
		padding: 20px;
		margin-bottom: 20px;
		border-radius: 6px;
	}
}
